# Python Bytecode
__pycache__/
*.py[cod]
*.pyo

# Environment & Package files
venv/
env/
.venv/
.env
.envrc
.Python

# Cache & Logs
streamlit/*.log
streamlit/static
.streamlit/secrets.toml
*.log
*.sqlite
*.db
*.sqlite3

# Jupyter Notebooks checkpoints (if you have notebooks in your project)
.ipynb_checkpoints/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# VSCode settings (if you're using VSCode)
.vscode/

# PyCharm settings (if you're using PyCharm)
.idea/

# Any compiled code or C/C++ artifacts
*.so
*.dll
*.dylib
